%br
.container
  .col-xs-10.offset-xs-1.col-md-4.offset-md-4
    .card
      .card-header 
        %h5 Sign Up
      = form_with model: @user, url: { action: "create" } , class: 'card-body' do |form|
        .form-group
          = form.label :firstname
          = form.text_field :first_name, class: 'form-control',placeholder: 'Your first name', type: 'text'
        .form-group
          = form.label :lastname
          = form.text_field :last_name, class: 'form-control',placeholder: 'Your last name', type: 'text'
        .form-group
          = form.label :email
          = form.text_field :email, class: 'form-control', placeholder: 'Your email', type: 'email'
        .form-group
          = form.label :password
          = form.text_field :password, class: 'form-control', placeholder: 'Your password', type: 'password'
        .form-group
          = form.label :avatar
          = form.file_field :avatar
        
        - @user.errors.full_messages.each do |msg|
          .alert.alert-danger{role: 'alert'}
            = msg
        = form.submit 'Sign Up', class: 'btn btn-primary', align: 'center'
      .card-footer 
        Do you have an account?
        =link_to 'Log in', login_path
