#network.card-block
  %h4.card-title
    Network
  %div.text-muted
    = Time.at(@network.time).to_formatted_s(:short)
  %br
  %div
    Block time: 
    %span.text-secondary
      = @network.block_time
  %div
    Difficulty: 
    %span.text-secondary
      = @network.difficulty
  %div
    Hashrate: 
    %span.text-secondary
      = @network.hashrate
    H/s
  %div
    USD: 
    %span.text-secondary
      = @network.usd
  %div
    BitCoin:
    %span.text-secondary
      = @network.btc

