#network.card-block
  %h4.card-title
    Network
  .card-text.text-muted
    = Time.at(@network.time).to_formatted_s(:short)
  %br
  .card-text
    = number_to_human(@network.block_time)
    %small.text-muted
      block time (in minutes)
  .card-text
    = number_to_human(@network.difficulty)
    %small.text-muted
      difficulty ratio
  .card-text
    = number_to_human(@network.hashrate)
    %small.text-muted
      hashes per second
  .card-text
    $
    = @network.usd
    %small.text-muted
      USD
  .card-text
    = number_to_human(@network.btc)
    %small.text-muted
      Bitcoin
