%br
.container
  .col-xs-10.offset-xs-1.col-md-4.offset-md-4
    .card
      .card-header
        %h5 Edit User Information!
      = form_with model: @current_user, url: profile_update_path, class: 'card-body' do |form|
        .form-group
          = form.label :firstname
          = form.text_field :first_name, class: 'form-control', placeholder: 'Put your new name', type: 'text'
        .form-group
          = form.label :lastname
          = form.text_field :last_name, class: 'form-control', placeholder: 'put your new last name', type: 'text'
        .form-group
          = form.label :email
          = form.text_field :email, class: 'form-control', placeholder: 'put your new email address', type: 'email'
        .form-group
          = form.label :password
          = form.text_field :password, class: 'form-control', placeholder: 'put your new password', type: 'password'
        .form-group
          = form.label :avatar
          = form.file_field :avatar
        - @current_user.errors.full_messages.each do |msg|
          .alert.alert-danger{role: 'alert'}
            = msg
        = form.submit 'Save Changes', class: 'btn btn-primary', align: 'center'
        = link_to 'Cancelar', profile_path, class: 'btn btn-danger', align: 'center', style: 'margin-left: 70px'
