%link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
%br
.container
  #main.col-sm-offset-1.col-sm-10
    .col-md-12
      -a = @address
      .card
        .card-body
          %h3.card-title
            = link_to a.alias, address_path(a), class: 'text-info'
          %h6.text-muted
          = a.address
          %hr
          %h5.card-title
            $ 
            = number_to_human(@min_factory.statistics.usd_per_min)
            %small.text-muted
              per minute
          %p.card-text
            = number_to_human(@min_factory.statistics.btc_per_min)
            %small.text-muted
              Bitcoin per second
          %p.card-text
            = number_to_human(@min_factory.statistics.current_hashrate)
            %small.text-muted
              Hashes per minute
        .card-footer.small.text-right
          = link_to 'Home', home_index_path, class: 'card-link'
          = link_to 'Show', address_path(a), class: 'card-link'
          = link_to 'Edit', edit_address_path(a), class: 'card-link'
          = link_to 'Delete', address_path(a), method: :delete,
      data: {confirm: 'Are you sure'}, class: 'text-danger card-link'
%br
%br

%ul#myTab.nav.nav-tabs{:role => "tablist"}
  %li.nav-item
    %a#history-tab.nav-link{"aria-controls" => "home", 
      "aria-selected" => "true", "data-toggle" => "tab", 
      :href => "#history", :role => "tab"} History 
  %li.nav-item
    %a#payout-tab.nav-link{"aria-controls" => "contact", 
      "aria-selected" => "false", "data-toggle" => "tab", 
      :href => "#payout", :role => "tab"} Payout
  %li.nav-item
    %a#round-tab.nav-link{"aria-controls" => "contact", 
      "aria-selected" => "false", "data-toggle" => "tab", 
      :href => "#round", :role => "tab"} Rounds
  %li.nav-item
    %a#setting-tab.nav-link{"aria-controls" => "contact", 
      "aria-selected" => "false", "data-toggle" => "tab", 
      :href => "#setting", :role => "tab"} Settings
  %li.nav-item
    %a#statistic-tab.nav-link{"aria-controls" => "contact", 
      "aria-selected" => "false", "data-toggle" => "tab", 
      :href => "#statistic", :role => "tab"} Statistics

#myTabContent.tab-content
  #history.tab-pane.fade.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
    .table-responsive
      %table#mytable.table.table-bordred.table-striped
        %thead
          %th Time
          %th Reported Hashrate
          %th Average Hashrate
          %th Current Hashrate
          %th Valid Shares
          %th Stale Shares
          %th Active Workers
        %tbody
          -i=0
          -while i < 140
            %tr
              %td= @min_factory.history(i).time
              %td= @min_factory.history(i).reported_hashrate
              %td= @min_factory.history(i).average_hashrate
              %td= @min_factory.history(i).current_hashrate
              %td= @min_factory.history(i).valid_shares
              %td= @min_factory.history(i).stale_shares
              %td= @min_factory.history(i).active_workers
            -i+=1
    .clearfix

  #block.tab-pane.fade{"aria-labelledby" => "block-tab", :role => "tabpanel"}
    .table-responsive
      %table#mytable.table.table-bordred.table-striped
        %thead
          %th Paid on
          %th Number
          %th Type
          %th Amount 
          %th Tx hash
        %tbody
          -i=0
          -#while i < 10
            %tr
              %td= @min_factory.blocks(i).paid_on
              %td= @min_factory.blocks(i).block.number
              %td= @min_factory.blocks(i).block.type
              %td= @min_factory.blocks(i).block.amount
              %td= @min_factory.blocks(i).block.tx_hash
            -i+=1
    .clearfix

  #payout.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"} 
    .table-responsive
      %table#mytable.table.table-bordred.table-striped
        %thead
          %th Paid on
          %th Start 
          %th End
          %th Amount 
          %th Tx hash
        %tbody
          -i=0
          -while i < 10
            %tr
              %td= @min_factory.payout(i).paid_on
              %td= @min_factory.payout(i).start
              %td= @min_factory.payout(i).end
              %td= @min_factory.payout(i).amount
              %td= @min_factory.payout(i).tx_hash
            -i+=1
    .clearfix

  #round.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"} 
    .table-responsive
      %table#mytable.table.table-bordred.table-striped
        %thead
          %th Amount 
          %th Tx hash
        %tbody
          -i=0
          -while i < 10
            %tr
              %td= @min_factory.rounds(i).block
              %td= @min_factory.rounds(i).amount
            -i+=1
    .clearfix

  #setting.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"} 
    .table-responsive
      %table#mytable.table.table-bordred.table-striped
        %thead
          %th Email 
          %th Monitor
          %th Min Payout
          %th Ip
        %tbody
          %tr
            %td= @min_factory.settings.email
            %td= @min_factory.settings.monitor
            %td= @min_factory.settings.min_payout
            %td= @min_factory.settings.ip
          -i+=1
    .clearfix

  #statistic.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"} 
    .table-responsive
      %table#mytable.table.table-bordred.table-striped
        %thead
          %th Time 
          %th Last Seen 
          %th Reported Hashrate
          %th Average Hashrate
          %th Current Hashrate
          %th Valid Shares
          %th Invalid Shares
          %th Stale Shares
          %th Active workers
          %th Unpaid
          %th Unconfirmed
          %th Coins per min
          %th Usd per min
          %th Btc per min
        %tbody
          %tr
            %td= @min_factory.statistics.time
            %td= @min_factory.statistics.last_seen
            %td= @min_factory.statistics.reported_hashrate
            %td= @min_factory.statistics.average_hashrate
            %td= @min_factory.statistics.current_hashrate
            %td= @min_factory.statistics.valid_shares
            %td= @min_factory.statistics.invalid_shares
            %td= @min_factory.statistics.stale_shares
            %td= @min_factory.statistics.active_workers
            %td= @min_factory.statistics.unpaid
            %td= @min_factory.statistics.unconfirmed
            %td= @min_factory.statistics.coins_per_min
            %td= @min_factory.statistics.usd_per_min
            %td= @min_factory.statistics.btc_per_min
    .clearfix
